#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 100%;
}

.calculadora {
  width: 220px;
  margin: 40px auto;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.pantalla {
  height: 40px;
  margin-bottom: 10px;
  padding: 8px;
  background: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}


.numeros {
  display: flex;
  justify-content: space-evenly;
  
}



.calculadora .resultado {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  color: black;       
  background-color: #f0f0f0; 
  padding: 5px;
  border-radius: 5px;
}


button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  margin: 2px; 
}

button:hover {
  background-color: #f0f0f0;
}


.igual {
  background: #4caf50;
  color: white;
}

.igual:hover{
  background-color: darkgreen;
}


.limpiar {
  background: #f44336;
  color: white;
}

.limpiar:hover{
  background-color:brown;
}
